{% extends 'base.html' %}

{% block content %}

<meta charset="UTF-8">
<title>Simple Recorder.js demo with record, stop and pause</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
    <div class="col-md-4 p-3">
        <p>This model of keyword spotting based on Temporal Convolutional Neural Network 
            has been developed by Anna Dorna and Simone Trevisan. 
            The details are explained in the report inside the GitHub repository. </p>  
        <p>You can record an audio of about 1 second and submit it for classification. 
            Audio is immediately deleted after processing. No files will be stored within the server.</p>
        <p> Recognizable keywords are:<br>
            <b> down, go, left, no, off, on, right, stop, up, yes</b>
        </p>
        <div class="row p-3" id="controls">
            <button class="btn btn-danger" id="recordButton">Record</button>
            <button hidden class="btn btn-success" id="pauseButton" disabled>Pause</button>
            <button hidden class="btn btn-success" id="stopButton" disabled>Stop</button>
        </div>
        <div class="row p-3">
            <h3>Recording</h3>
            <div id="recordingsList">

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 p-3">
                <h3> Results: </h3>
                <p id="result">Submit an audio to obtain the results.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
</div>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 

{% endblock %}
